# Created by .ignore support plugin (hsz.mobi)
.idea
index.php
composer.lock
Dockerfile
vendor
.phpunit.result.cache
docker-compose.yml
composer.phar
ultimate-test.php
.kilo
package.xml
xdebug*
providers.json